In [1]:
import numpy as np
import pandas as pd 
import warnings
warnings.filterwarnings('ignore')

import plotly.express as px
import plotly.graph_objs as go 
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
import numpy as np
%matplotlib inline
sns.set_style("darkgrid")

In [3]:
# 파이썬 시각화 패키지 불러오기
import matplotlib.pyplot as plt
%matplotlib inline


# 사용자 운영체제 확인
import platform
platform.system()

'Linux'

In [4]:
# 운영체제별 한글 폰트 설정
if platform.system() == 'Darwin': # Mac 환경 폰트 설정
    plt.rc('font', family='AppleGothic')
elif platform.system() == 'Windows': # Windows 환경 폰트 설정
    plt.rc('font', family='Malgun Gothic')

plt.rc('axes', unicode_minus=False) # 마이너스 폰트 설정


# 글씨 선명하게 출력하는 설정
%config InlineBackend.figure_format = 'retina'

In [5]:
from google.colab import drive
drive.mount('/content/mnt')

Mounted at /content/mnt

In [6]:
data_folder = '/content/mnt/MyDrive/data/국민건강보험공단_진료내역정보_20191231'

In [7]:
df_train = pd.read_csv(f'{data_folder}/df_train.csv', encoding='utf-8')

In [8]:
for i in df_train.columns:
    df_train[i] = df_train[i].astype('category')

In [9]:
df_train.dtypes

Unnamed: 0    category
성별코드          category
연령대코드         category
시도코드          category
서식코드          category
진료과목코드        category
주상병코드         category
부상병코드         category
심결가산율         category
dtype: object

In [ ]:
df_train.head(3)

  Unnamed: 0 성별코드 연령대코드 시도코드 서식코드 진료과목코드 주상병코드 부상병코드 심결가산율
0          0    2    12   46    0      5    12    12     3
1          1    2    12   46    0      1     4    13     3
2          2    2    12   46    0      1    13     4     3

In [10]:
from imblearn.over_sampling import RandomOverSampler
from imblearn.under_sampling import RandomUnderSampler

ros = RandomOverSampler()
rus = RandomUnderSampler()

In [11]:
# over/undersampled_data, oversampled_label = ros.fit_resample(data, label)
# over/undersampled_data = pd.DataFrame(over/undersampled_data, columns = df.columns)

# oversampled_data, oversampled_label = ros.fit_resample(df_train[['성별코드', '연령대코드', '시도코드', '진료과목코드', '주상병코드', '부상병코드','심결가산율']].copy(), df_train[['서식코드']].copy())
# oversampled_data = pd.DataFrame(oversampled_data, columns =['성별코드', '연령대코드', '시도코드', '진료과목코드', '주상병코드', '부상병코드','심결가산율'])

undersampled_data, undersampled_label = rus.fit_resample(df_train[['성별코드', '연령대코드', '시도코드', '진료과목코드', '주상병코드', '부상병코드','심결가산율']].copy(), df_train[['서식코드']].copy())
undersampled_data = pd.DataFrame(undersampled_data, columns =['성별코드', '연령대코드', '시도코드', '진료과목코드', '주상병코드', '부상병코드','심결가산율'])

In [ ]:
# oversampled_data['서식코드'] = oversampled_label
# oversampled_data.tail(3)

In [ ]:
# print(f"전체환자 데이터 수 : {len(oversampled_data)} / 입원환자 데이터 수 : {len(oversampled_data[oversampled_data['서식코드'] == 1])} / 비입원환자 데이터 수 : {len(oversampled_data[oversampled_data['서식코드'] == 0])}")

In [ ]:
# 정범님 코드 참고
# df_train1 = oversampled_data[['서식코드']].copy() # 테스트로 사용할 컬럼들
# def dummy_data(data, columns):
#     for column in columns:
#         data = pd.concat([data, pd.get_dummies(data[column], prefix = column)], axis=1)
#         data = data.drop(column, axis=1)
#     return data
# dummy_columns = ['서식코드']
# df_train1_dummy = dummy_data(oversampled_data, dummy_columns)
# df_train1_dummy

In [12]:
undersampled_data['서식코드'] = undersampled_label

In [13]:
print(f"전체환자 데이터 수 : {len(undersampled_data)} / 입원환자 데이터 수 : {len(undersampled_data[undersampled_data['서식코드'] == 1])} / 비입원환자 데이터 수 : {len(undersampled_data[undersampled_data['서식코드'] == 0])}")

전체환자 데이터 수 : 567924 / 입원환자 데이터 수 : 283962 / 비입원환자 데이터 수 : 283962

In [14]:
# 정범님 코드 참고
df_train2 = undersampled_data[['서식코드']].copy() # 테스트로 사용할 컬럼들
def dummy_data(data, columns):
    for column in columns:
        data = pd.concat([data, pd.get_dummies(data[column], prefix = column)], axis=1)
        data = data.drop(column, axis=1)
    return data
dummy_columns = ['서식코드']
df_train2_dummy = dummy_data(undersampled_data, dummy_columns)
df_train2_dummy

        성별코드  연령대코드  시도코드  진료과목코드  주상병코드  부상병코드  심결가산율  서식코드_0  서식코드_1
0          2     11    28       1      9      9      1       1       0
1          1      8    31       3      5      5      1       1       0
2          2     12    41       9     12     12      1       1       0
3          2      5    11      21      6      5      1       1       0
4          1     16    45      12      7      7      1       1       0
...      ...    ...   ...     ...    ...    ...    ...     ...     ...
567919     1     16    42       1     12      3      3       0       1
567920     1      6    11       5     18     18      2       0       1
567921     1      4    47      24     17     17      4       0       1
567922     2      1    47      11     15     15      3       0       1
567923     2      1    47      11     15     15      3       0       1

[567924 rows x 9 columns]

In [15]:
df_train2_dummy.to_csv("df_train2_dummy.csv", encoding='euc-kr')