In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv('C:\\Workspace\\python\\빅데이터 지능형서비스 개발 팀프로젝트(21.9.27~10.6)\\Project-1\\조정범\\Data\\헬스케어데이터.csv')

In [3]:
df.head()

,기준년도,가입자 일련번호,진료내역일련번호,성별코드,연령대코드,시도코드,요양개시일자,서식코드,진료과목코드,주상병코드,부상병코드,요양일수,입내원일수,심결가산율,심결요양급여비용총액,심결본인부담금,심결보험자부담금,총처방일수,데이터 기준일자
0,2019,1,104243474,2,12,46,20191104,3,5,M751,M750,1,1,0.25,19240,9600,9640,0,20201222
1,2019,1,107479370,2,12,46,20190806,3,1,E1164,N308,1,1,0.25,145680,72800,72880,0,20201222
2,2019,1,106881883,2,12,46,20190920,3,1,N308,E1164,1,1,0.25,13240,6600,6640,3,20201222
3,2019,1,109043837,2,12,46,20190807,2,1,E1164,N308,7,21,0.25,861590,205810,655780,0,20201222
4,2019,1,103174392,2,12,46,20190318,3,13,H6531,J303,1,1,0.15,48440,14500,33940,3,20201222

{0.0: 0, 0.15: 1, 0.2: 2, 0.25: 3, 0.3: 4}

In [26]:
# 필요 데이터만 추출
df_train = df[['성별코드', '연령대코드', '시도코드', '서식코드', '진료과목코드', '주상병코드', '부상병코드', '심결가산율']].copy()
# 서식코드 0(미입원) , 1(입원) 주,부상병코드 맨 앞자리 알파벳만 추출
df_train['서식코드'] = df_train['서식코드'].apply(lambda x: 1 if x == 2 else 0) 
df_train['주상병코드'] = df_train['주상병코드'].apply(lambda x: x[:1])
df_train['부상병코드'] = df_train['부상병코드'].apply(lambda x: x[:1])

# 주, 부상병코드 알파벳 인덱싱 
eng_list = ['A','B','C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
code_dict = dict(zip(eng_list, [i for i in range(len(eng_list))]))
df_train['주상병코드'] = df_train['주상병코드'].apply(lambda x: code_dict[x])
df_train['부상병코드'] = df_train['부상병코드'].apply(lambda x: code_dict[x])

# 심결가산율 카테고리화 및 인덱싱
rate_list = pd.DataFrame(df['심결가산율'].value_counts()).index
rate_list = sorted(rate_list)
rate_dict = dict(zip(rate_list, [i for i in range(len(rate_list))]))
df_train['심결가산율'] = df_train['심결가산율'].apply(lambda x: rate_dict[x])

In [35]:
for i in df_train.columns:
    df_train[i] = df_train[i].astype('category')

In [46]:
df_train.dtypes

성별코드      category
연령대코드     category
시도코드      category
서식코드      category
진료과목코드    category
주상병코드     category
부상병코드     category
심결가산율     category
dtype: object

In [45]:
df_train.head()

  성별코드 연령대코드 시도코드 서식코드 진료과목코드 주상병코드 부상병코드 심결가산율
0    2    12   46    0      5    12    12     3
1    2    12   46    0      1     4    13     3
2    2    12   46    0      1    13     4     3
3    2    12   46    1      1     4    13     3
4    2    12   46    0     13     7     9     1

In [41]:
df_train.to_csv('C:\\Workspace\\python\\빅데이터 지능형서비스 개발 팀프로젝트(21.9.27~10.6)\\Project-1\\조정범\\Data\\모델제작용데이터셋(헬스케어).csv', index = False)

In [43]:
test = pd.read_csv('C:\\Workspace\\python\\빅데이터 지능형서비스 개발 팀프로젝트(21.9.27~10.6)\\Project-1\\조정범\\Data\\모델제작용데이터셋(헬스케어).csv')

In [47]:
test.dtypes

성별코드      int64
연령대코드     int64
시도코드      int64
서식코드      int64
진료과목코드    int64
주상병코드     int64
부상병코드     int64
심결가산율     int64
dtype: object